Repository GibbonEdu/core, pull requests merged in 2021-09, with the labels that each got.

#1414 Timetable - updating module functions to add red/blue week colours in…
  CHANGELOG.txt
  modules/Timetable/moduleFunctions.php
Labels: new feature, php

#1412 Fix PHP 8.1 warning deprecated messages in CI test
  modules/Data Updater/data_medicalProcess.php
  modules/Data Updater/data_medical_manage_editProcess.php
  modules/Finance/moduleFunctions.php
  modules/Markbook/markbook_edit_dataProcess.php
  modules/School Admin/daysOfWeek_manage.php
  modules/Students/applicationForm_manage_edit.php
  modules/System Admin/customFields_addProcess.php
  modules/System Admin/moduleFunctions.php
  modules/User Admin/user_manage_edit.php
  src/Domain/DataSet.php
  src/Forms/Input/Checkbox.php
  src/Forms/Input/TextArea.php
  src/Forms/Layout/Column.php
  src/Forms/PersonalDocumentHandler.php
  src/Forms/Traits/MultipleOptionsTrait.php
  src/Services/CoreServiceProvider.php
  src/Services/Format.php
  src/Tables/Columns/DraggableColumn.php
  src/UI/Components/Header.php
  src/View/View.php
Labels: php

#1406 Activities - further null coalesce
  modules/Activities/activities_attendanceProcess.php
  modules/Activities/activities_manageProcessBulk.php
  modules/Activities/activities_manage_addProcess.php
  modules/Activities/activities_manage_deleteProcess.php
  modules/Activities/activities_manage_enrolment_addProcess.php
  modules/Activities/activities_manage_enrolment_editProcess.php
Labels: php

#1389 Department module - review breadcrumbs
  modules/Departments/department.php
  modules/Departments/department_course.php
  modules/Departments/department_course_class.php
  modules/Departments/department_course_edit.php
  modules/Departments/department_edit.php
  modules/Departments/departments.php
Labels: php

#1381 Remove uses of obsoleted getUserPhoto
  src/UI/Components/Sidebar.php
  src/UI/Dashboard/ParentDashboard.php
Labels: php

#1387 Refactor Session constructor
  src/Gibbon/Session.php
  src/Services/CoreServiceProvider.php
Labels: php

#1418 Attendance: add the ability to Take Ad Hoc Attendance
  CHANGEDB.php
  CHANGELOG.txt
  modules/Attendance/attendance_take_adHoc.php
  modules/Attendance/attendance_take_adHocProcess.php
  src/Domain/Activities/ActivityGateway.php
  src/Domain/Attendance/AttendanceLogPersonGateway.php
  src/Domain/Messenger/GroupGateway.php
Labels: new feature

#1386 Core: fix phpdoc for database connection select()
  src/Contracts/Database/Connection.php
  src/Database/Connection.php
Labels: documentation

#1420 Docs: form factory and traits phpdocs fix
  src/Forms/FormFactory.php
  src/Forms/FormFactoryInterface.php
  src/Forms/Traits/MultipleOptionsTrait.php
Labels: documentation

#1422 Composer: add phpstan test
  composer.json
  composer.lock
Labels: dependencies

#1424 System: fix typo in ImportType class
  src/Data/ImportType.php
Labels: bug, php

#1423 System: fix Exception reference in MailDriver
  src/Comms/Drivers/MailDriver.php
Labels: bug, php

#1421 System: fix InvalidArgumentException use in class
  src/Data/UsernameGenerator.php
Labels: bug, php

#1374 Library: Cost field
  CHANGEDB.php
  modules/Library/library_manage_catalog_edit.php
  modules/Library/library_manage_catalog_editProcess.php
  resources/imports/libraryRecordAudioVisual.yml
  resources/imports/libraryRecordComputer.yml
  resources/imports/libraryRecordElectronics.yml
  resources/imports/libraryRecordOptical.yml
  resources/imports/libraryRecordOther.yml
  resources/imports/libraryRecordPrint.yml
  resources/imports/libraryRecordSoftware.yml
  resources/imports/libraryRecordTelephone.yml
  src/Database/Migrations/2021-06-04-LibraryTypes.php
Labels: new feature, php

#1408 System Admin: implement Omnipay library, enable Stripe payment gateway
  CHANGEDB.php
  composer.json
  composer.lock
  lib/paypal/expresscheckout.php
  lib/paypal/paypalfunctions.php
  modules/Finance/invoices_payOnline.php
  modules/Finance/invoices_payOnlineProcess.php
  modules/Finance/moduleFunctions.php
  modules/Students/applicationForm.php
  modules/Students/applicationFormProcess.php
  modules/Students/applicationForm_manage_edit.php
  modules/Students/applicationForm_manage_editProcess.php
  modules/Students/applicationForm_manage_edit_fee.php
  modules/Students/applicationForm_payFee.php
  modules/Students/applicationForm_payFeeProcess.php
  modules/System Admin/thirdPartySettings.php
  modules/System Admin/thirdPartySettingsProcess.php
  modules/System Admin/thirdPartySettings_emailProcess.php
  modules/System Admin/thirdPartySettings_paymentProcess.php
  modules/System Admin/thirdPartySettings_smsProcess.php
  src/Contracts/Services/Payment.php
  src/Services/CoreServiceProvider.php
  src/Services/Payment/Payment.php
  tests/acceptance/System Admin/ThirdPartySettingsCept.php
  vendor/omnipay/stripe/src/CheckoutGateway.php
  vendor/omnipay/stripe/src/Message/Checkout/AbstractRequest.php
  vendor/omnipay/stripe/src/Message/Checkout/FetchTransactionRequest.php
  vendor/omnipay/stripe/src/Message/Checkout/PurchaseRequest.php
  vendor/omnipay/stripe/tests/CheckoutGatewayTest.php
Labels: new feature, php

#1382 Form Inputs: InstaScan QR code reading && Library: QR code reading implementation
  lib/instascan/instascan.min.js
  modules/Library/library_manage_catalog.php
  modules/Library/report_catalogSummary.php
  src/Forms/FormFactory.php
  src/Forms/Input/Scanner.php
  src/Forms/Input/TextField.php
Labels: new feature, php, javascript

#1416 Finance: null coalesce refactoring
  modules/Finance/budgetCycles_manage_addProcess.php
  modules/Finance/budgetCycles_manage_deleteProcess.php
  modules/Finance/budgetCycles_manage_editProcess.php
  modules/Finance/budgets_manage_addProcess.php
  modules/Finance/budgets_manage_deleteProcess.php
  modules/Finance/budgets_manage_editProcess.php
  modules/Finance/expenseApprovers_manage_addProcess.php
  modules/Finance/expenseApprovers_manage_deleteProcess.php
  modules/Finance/expenseApprovers_manage_editProcess.php
  modules/Finance/expenses_manage_approveProcess.php
  modules/Finance/feeCategories_manage_addProcess.php
  modules/Finance/feeCategories_manage_deleteProcess.php
  modules/Finance/feeCategories_manage_editProcess.php
  modules/Finance/fees_manage_addProcess.php
  modules/Finance/invoicees_manage_editProcess.php
  modules/Finance/invoices_manage_addProcess.php
  modules/Finance/invoices_manage_deleteProcess.php
  modules/Finance/invoices_manage_editProcess.php
  modules/Finance/invoices_payOnlineProcess.php
Labels: php

#1438 System: fix EmailTemplateLoader compatibility with LoaderInterface
  src/Comms/EmailTemplateLoader.php
Labels: bug, php

#1437 System: improve phpdocs for CustomFieldHandler
  src/Forms/CustomFieldHandler.php
Labels: documentation

#1436 System: correct phpdocs in Gibbon\Excel::exportWithQuery
  src/Gibbon/Excel.php
Labels: documentation

#1433 composer: remove stripe/omnipay in vendor folder
  composer.json
  composer.lock
  vendor/omnipay/stripe/src/CheckoutGateway.php
  vendor/omnipay/stripe/src/Message/Checkout/AbstractRequest.php
  vendor/omnipay/stripe/src/Message/Checkout/FetchTransactionRequest.php
  vendor/omnipay/stripe/src/Message/Checkout/PurchaseRequest.php
  vendor/omnipay/stripe/tests/CheckoutGatewayTest.php
Labels: dependencies, php

#1432 Markbook, Messenger - null coalesce second pass
  modules/Markbook/markbook_edit_addMultiProcess.php
  modules/Markbook/markbook_edit_addProcess.php
  modules/Markbook/markbook_edit_dataProcess.php
  modules/Markbook/markbook_edit_deleteProcess.php
  modules/Markbook/markbook_edit_editProcess.php
  modules/Markbook/markbook_edit_targetsProcess.php
  modules/Markbook/weighting_manage_addProcess.php
  modules/Markbook/weighting_manage_deleteProcess.php
  modules/Markbook/weighting_manage_editProcess.php
  modules/Messenger/cannedResponse_manage_addProcess.php
  modules/Messenger/cannedResponse_manage_deleteProcess.php
  modules/Messenger/cannedResponse_manage_editProcess.php
  modules/Messenger/groups_manageProcessBulk.php
  modules/Messenger/groups_manage_addProcess.php
  modules/Messenger/groups_manage_deleteProcess.php
  modules/Messenger/groups_manage_editProcess.php
  modules/Messenger/groups_manage_edit_deleteProcess.php
  modules/Messenger/messenger_manage_deleteProcess.php
  modules/Messenger/messenger_manage_editProcess.php
  modules/Messenger/messenger_manage_report_processBulk.php
  modules/Messenger/messenger_postPreProcess.php
  modules/Messenger/messenger_postQuickWallProcess.php
Labels: php

#1435 Refactor Gibbon\Excel::estimateCellCount to migrate away from Connection::getResult
  modules/Finance/expenses_manage_processBulkExportContents.php
  modules/Finance/invoices_manage_processBulkExportContents.php
  modules/Library/report_catalogSummaryExportContents.php
  modules/Markbook/markbook_viewExportAllContents.php
  modules/Markbook/markbook_viewExportContents.php
  src/Gibbon/Excel.php
Labels: php

#1426 System: rewrite usage of obsoleted Connection::executeQuery in core
  src/Data/ImportType.php
  src/Data/Importer.php
  src/Data/UsernameGenerator.php
  src/Domain/DataUpdater/DataUpdaterGateway.php
  src/Forms/DatabaseFormFactory.php
  src/Forms/Input/Select.php
  src/Forms/Traits/MultipleOptionsTrait.php
  src/Gibbon/FileUploader.php
  src/Gibbon/Locale.php
  src/Gibbon/Session.php
  tests/unit/Gibbon/FileUploaderTest.php
Labels: php

#1431 Refactor Locale test
  tests/unit/Gibbon/Locale/MockGibbonTrait.php
  tests/unit/Gibbon/Locale/MockGuidTrait.php
  tests/unit/Gibbon/Locale/TranslateNTest.php
  tests/unit/Gibbon/Locale/TranslateTest.php
  tests/unit/Gibbon/Locale/TranslationTest.php
  tests/unit/Gibbon/Locale/mock/i18n/es_ES/LC_MESSAGES/gibbon.po
  tests/unit/Gibbon/Locale/mock/i18n/gibbon.pot
  tests/unit/Gibbon/Locale/mock/i18n/zh_TW/LC_MESSAGES/gibbon.po
Labels: php

#1428 Resources View Table Refactor
  modules/Planner/resources_view.php
  src/Domain/Planner/ResourceGateway.php
Labels: php

#1419 Refactor database Connection and MySqlConnector
  src/Database/Connection.php
Labels: php

#1434 composer: use latest tcpdf in packagist
  composer.json
  composer.lock
Labels: dependencies, php

#1440 composer: use php-parsecsv in packagist
  composer.json
  composer.lock
  src/Data/Importer.php
  src/Data/ParseCSV.php
Labels: dependencies, php

#1407 Attendance, Behaviour: null coalesce refactoring
  modules/Attendance/attendance_future_byPersonProcess.php
  modules/Attendance/attendance_studentSelfRegisterProcess.php
  modules/Attendance/attendance_take_byPersonProcess.php
  modules/Attendance/attendance_take_byPerson_deleteProcess.php
  modules/Behaviour/behaviour_manage_addMultiProcess.php
  modules/Behaviour/behaviour_manage_addProcess.php
  modules/Behaviour/behaviour_manage_deleteProcess.php
  modules/Behaviour/behaviour_manage_editProcess.php
Labels: php

#1442 System: remove DataRetentionGateway::getAllTables
  src/Domain/System/DataRetentionGateway.php
Labels: php

#1443 System: remove LoggerFactory::settingGateway
  src/Services/LoggerFactory.php
Labels: php

#1444 System: improve phpdocs for SettingGateway
  src/Domain/System/SettingGateway.php
Labels: documentation

#1445 System: improve documentation to Connection
  src/Contracts/Database/Connection.php
  src/Database/Connection.php
Labels: documentation

#1441 System: fix typo in NotificationEvent
  src/Comms/NotificationEvent.php
Labels: bug, php

#1446 System: fix incorrect phpdocs for Result::toDataSet
  src/Contracts/Database/Result.php
  src/Database/Result.php
Labels: documentation

#1447 Improve documentation of Action and WebLink
  src/Forms/Layout/WebLink.php
  src/Tables/Action.php
Labels: documentation, php

#1451 System: fix Select::getLabelContext
  src/Forms/Input/Select.php
Labels: php

#1450 System: fix BackgroundProcessor sprintf issue
  src/Services/BackgroundProcessor.php
Labels: bug, php

#1449 Improve phpdocs and declare missing property to classes
  src/Domain/QueryableGateway.php
  src/Domain/Traits/TableAware.php
  src/Forms/Layout/Grid.php
  src/Forms/Layout/Row.php
  src/Forms/Layout/Table.php
  src/Services/BackgroundProcessor.php
  src/Services/Payment/Payment.php
  src/Tables/Prefab/EnrolmentTable.php
  src/UI/Dashboard/StaffDashboard.php
Labels: documentation, php

#1448 Test: phpstan to use config file
  .editorconfig
  .htaccess
  composer.json
  phpstan.neon
Labels: new feature

#1452 System: fix Payment::requestPayment
  src/Services/Payment/Payment.php
Labels: php

#1454 System: implement SessionHandler classes and update Session namespace
  CHANGEDB.php
  gibbon.php
  index_fastFinder_ajax.php
  login.php
  logout.php
  modules/Attendance/src/AttendanceView.php
  modules/Markbook/src/MarkbookView.php
  modules/Messenger/src/MessageProcess.php
  modules/System Admin/stringReplacement_manage_addProcess.php
  modules/System Admin/stringReplacement_manage_deleteProcess.php
  modules/System Admin/stringReplacement_manage_editProcess.php
  roleSwitcherProcess.php
  src/Comms/NotificationEvent.php
  src/Domain/System/ActionGateway.php
  src/Forms/FormFactory.php
  src/Forms/Input/CustomBlocks.php
  src/Gibbon/Core.php
  src/Gibbon/Locale.php
  src/Gibbon/Session.php
  src/Services/CoreServiceProvider.php
  src/Services/Format.php
  src/Session/DatabaseSessionHandler.php
  src/Session/NativeSessionHandler.php
  src/Session/Session.php
  src/Session/SessionEncryption.php
  src/Session/SessionFactory.php
  tests/unit/Gibbon/FileUploaderTest.php
  tests/unit/Gibbon/Locale/TranslateNTest.php
  tests/unit/Gibbon/Locale/TranslateTest.php
  tests/unit/Gibbon/Locale/TranslationTest.php
  yearSwitcherProcess.php
Labels: new feature, php

#1455 System: replace use of $gibbon->session with $session in non-module files
  cli/attendance_dailyIncompleteEmail.php
  cli/attendance_dailyIncompleteEmail_byClass.php
  cli/attendance_weeklySummaryEmail.php
  cli/behaviour_dailySummaryEmail.php
  cli/behaviour_letters.php
  cli/library_overdueNotification.php
  cli/schoolAdmin_parentDailyEmailSummary.php
  cli/schoolAdmin_parentWeeklyEmailSummary.php
  cli/schoolAdmin_tutorDailyEmailSummary.php
  cli/userAdmin_statusCheckAndFix.php
  export.php
  functions.php
  index.php
  indexExport.php
  indexFindRedirect.php
  index_notification_ajax.php
  index_notification_ajax_alarm.php
  index_notification_ajax_alarmConfirmProcess.php
  index_notification_ajax_alarmProcess.php
  index_notification_ajax_alarm_tickUpdate.php
  index_parentPhotoDeleteProcess.php
  index_parentPhotoUploadProcess.php
  index_tt_ajax.php
  login.php
  notifications.php
  notificationsActionProcess.php
  notificationsDeleteAllProcess.php
  notificationsDeleteProcess.php
  passwordReset.php
  passwordResetProcess.php
  preferences.php
  preferencesPasswordProcess.php
  preferencesProcess.php
  publicRegistration.php
  publicRegistrationProcess.php
  roleSwitcherProcess.php
  src/Forms/Input/FileUpload.php
  update.php
  yearSwitcherProcess.php
Labels: php, refactoring
